@page
@model MedicalSuiteWeb.Pages.Inventories.ViewInventoryItemsModel
@{
}
<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-1">
            <a asp-page="AddInventoryItem" class="btn btn-primary">Add to Inventory</a>
        </div>
        <div class="col-1">
            <a asp-page="EditInventoryItem" class="btn btn-primary">Edit Inventory</a>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-2">
            <label class="form-label">Category</label>
        </div>
        <div class="col-8">
            <select asp-for="SelectedCategoryId" asp-items="Model.Categories"></select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="btnView">Display</button>
        </div>
    </div>

    @if (Model.InventoryItems.Count == 0)
    {
        <p>No items found in the selected category.</p>
    }
    else{
        @foreach(var inventoryItem in Model.InventoryItems)
    {
        <div class="row m-2 border">
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-lable" asp-for="@inventoryItem.InventoryItemCode"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@inventoryItem.InventoryItemCode</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-lable" asp-for="@inventoryItem.InventoryItemName"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@inventoryItem.InventoryItemName</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-lable" asp-for="@inventoryItem.InventoryItemDescription"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@inventoryItem.InventoryItemDescription</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-lable" asp-for="@inventoryItem.InventoryItemPrice"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@inventoryItem.InventoryItemPrice</label>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2">
                    <a asp-page="EditInventoryItem" asp-route-id="@inventoryItem.InventoryItemId" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-1">
                    <a asp-page="AddInventoryItem" asp-route-id="@inventoryItem.InventoryItemId" class="btn btn-primary">Add to Inventory</a>
                </div>
            </div>
        </div>
    }
    }
</form>